@font-face {
  font-family: Allura;
  src: url(../fonts/Allura/Allura-Regular.ttf);
}
@font-face {
  font-family: Poppins;
  src: url(../fonts/Poppins/Poppins-Medium.ttf);
}
@font-face {
  font-family: Roboto;
  src: url(../fonts/Roboto/Roboto-Light.ttf);
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
}

body {
  font-family: Roboto;
  background: rgb(33, 32, 30);
  min-height: 100vh;
  color: rgb(238, 238, 238);
  scroll-behavior: smooth;
}

header nav {
  max-width: 1000px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
header nav .brand {
  font-family: Allura;
  font-size: 3rem;
  color: rgb(238, 238, 238);
  width: 10%;
}
header nav .nav-options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 70%;
}
@media screen and (max-width: 730px) {
  header nav .nav-options {
    display: none;
  }
}
header nav .nav-options a {
  text-decoration: none;
  color: rgb(238, 238, 238);
  cursor: pointer;
}
header nav .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 10%;
}
@media screen and (max-width: 730px) {
  header nav .social {
    width: 50%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}
header nav .social i {
  color: rgb(238, 238, 238);
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
  cursor: pointer;
}
header nav .social i:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}
header .txt-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 50px;
  padding-bottom: 200px;
}
header .txt-container p:first-child {
  font-family: Allura;
  font-size: 2.5rem;
  color: rgb(180, 122, 69);
}
header .txt-container h1 {
  font-family: Poppins;
  letter-spacing: 6px;
  font-size: 2.5rem;
}
header .txt-container img {
  margin: 20px 0;
}
header .txt-container img + p {
  color: rgb(189, 193, 206);
  text-transform: uppercase;
  font-size: 1.1rem;
  letter-spacing: 4px;
  text-align: center;
}
header .header-end {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: normal;
      -ms-flex-align: normal;
          align-items: normal;
  height: 555px;
}
header .header-end .left-part-container {
  background: rgb(238, 238, 238);
  padding: 10px;
  width: 100%;
}
header .header-end .left-part-container .left-part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 2px dashed rgb(180, 122, 69);
  height: 100%;
}
header .header-end .left-part-container .left-part p:first-child {
  color: rgb(180, 122, 69);
  font-family: Allura;
  font-size: 2rem;
  font-weight: bold;
}
header .header-end .left-part-container .left-part h2 {
  color: rgb(238, 238, 238);
  text-transform: uppercase;
  font-family: Poppins;
  letter-spacing: 3px;
  letter-spacing: 5px;
  color: rgb(33, 32, 30);
}
header .header-end .left-part-container .left-part img {
  margin: 30px 0;
}
header .header-end .left-part-container .left-part img + p {
  text-align: center;
  color: rgb(33, 32, 30);
}
header .header-end .left-part-container .chef {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
header .header-end .left-part-container .chef img {
  border-radius: 50%;
}
header .header-end .left-part-container .chef .description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
header .header-end .left-part-container .chef .description p {
  color: rgb(189, 193, 206);
  text-transform: uppercase;
  font-family: Poppins;
}
header .header-end .right-part {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
@media screen and (max-width: 900px) {
  header .header-end .right-part {
    display: none;
  }
}
header .header-end .right-part img {
  width: 100%;
  height: 100%;
}

main .session1 .dis-container {
  text-align: center;
  margin-top: 50px;
}
@media screen and (max-width: 950px) {
  main .session1 .dis-container {
    margin-bottom: 50;
  }
}
main .session1 .dis {
  color: rgb(180, 122, 69);
  font-family: Allura;
  font-size: 2.5rem;
}
main .session1 img {
  margin: 30px 0;
}
main .session1 .navigation {
  width: 70%;
  -webkit-transform: translateX(-8%);
          transform: translateX(-8%);
}
@media screen and (max-width: 730px) {
  main .session1 .navigation {
    width: 90%;
    -webkit-transform: translateX(-18%);
            transform: translateX(-18%);
    margin-top: 220px;
  }
}
main .session1 .navigation ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 70px;
  border-bottom: 5px solid rgb(180, 122, 69);
}
main .session1 .navigation ul a {
  color: rgb(238, 238, 238);
  text-decoration: none;
}
main .session1 .navigation ul hr {
  margin-top: 5px;
}
main .session1 .navigation .dish {
  background: rgb(238, 238, 238);
  padding: 10px 20px;
}
main .session1 .navigation .dish .part-1,
main .session1 .navigation .dish .part-2,
main .session1 .navigation .dish .part-3,
main .session1 .navigation .dish .part-4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
}
@media screen and (max-width: 1000px) {
  main .session1 .navigation .dish .part-1,
  main .session1 .navigation .dish .part-2,
  main .session1 .navigation .dish .part-3,
  main .session1 .navigation .dish .part-4 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
main .session1 .navigation .dish .plats {
  width: 70%;
  border-bottom: 1px dashed rgb(189, 193, 206);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
main .session1 .navigation .dish .plats img {
  border-radius: 50%;
}
main .session1 .navigation .dish .plats div {
  width: 100%;
}
main .session1 .navigation .dish .plats div h3 {
  text-transform: uppercase;
  font-family: Roboto;
  color: rgb(33, 32, 30);
  font-weight: bold;
}
main .session1 .navigation .dish .plats div p {
  color: rgb(33, 32, 30);
  letter-spacing: 2px;
  margin-top: 5px;
}
main .session1 .navigation .dish .plats .price {
  color: rgb(180, 122, 69);
  font-size: 1.3rem;
  font-weight: bold;
}
@media screen and (max-width: 1000px) {
  main .session1 .navigation .dish .plats {
    width: 100%;
  }
}
main .session1 .reservation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: normal;
      -ms-flex-align: normal;
          align-items: normal;
  width: 80%;
  margin: auto;
}
@media screen and (max-width: 900px) {
  main .session1 .reservation {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
}
main .session1 .reservation .outline {
  width: 30%;
  padding: 10px;
  background: rgb(0, 0, 0);
}
@media screen and (max-width: 900px) {
  main .session1 .reservation .outline {
    width: 100%;
  }
}
main .session1 .reservation .outline .part-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px dashed rgb(180, 122, 69);
}
main .session1 .reservation .outline .part-1 .title p {
  font-family: Allura;
  font-size: 3rem;
  color: rgb(180, 122, 69);
}
main .session1 .reservation .outline .part-1 .title h2 {
  font-family: Poppins;
  letter-spacing: 3px;
}
main .session1 .reservation .outline .part-1 .days h2 {
  color: rgb(180, 122, 69);
  margin-top: 15px;
  text-align: center;
}
main .session1 .reservation .outline .part-1 .days p {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 1.2rem;
}
main .session1 .reservation .outline .part-1 h2 {
  color: rgb(180, 122, 69);
  margin-bottom: 15px;
}
main .session1 .reservation form {
  background: rgb(238, 238, 238);
  width: 70%;
}
@media screen and (max-width: 900px) {
  main .session1 .reservation form {
    width: 100%;
    padding-bottom: 10px;
  }
}
main .session1 .reservation form h2 {
  color: rgb(180, 122, 69);
  font-family: Allura;
  font-size: 3rem;
  font-weight: lighter;
  text-align: center;
}
main .session1 .reservation form h2 span {
  font-family: Poppins;
  font-size: 2rem;
  color: rgb(0, 0, 0);
}
main .session1 .reservation form .line1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
main .session1 .reservation form .line1 input,
main .session1 .reservation form .line1 select {
  width: 200px;
  border: none;
  background: transparent;
  outline: none;
  border-bottom: 1px solid rgb(33, 32, 30);
  padding: 4px 0;
}
main .session1 .reservation form .line2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 30px;
}
main .session1 .reservation form .line2 input {
  width: 200px;
  border: none;
  background: transparent;
  outline: none;
  border-bottom: 1px solid rgb(33, 32, 30);
  padding: 4px 0;
}
main .session1 .reservation form .btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 50px;
}
main .session1 .reservation form .btn button {
  padding: 10px 20px;
  font-size: 1.3rem;
  font-family: Poppins;
  background: rgb(0, 0, 0);
  color: rgb(238, 238, 238);
  border-radius: 150px 150px 150px 150px;
  -webkit-border-radius: 150px 150px 150px 150px;
  -moz-border-radius: 150px 150px 150px 150px;
  cursor: pointer;
}
main .session1 + session .title {
  color: rgb(180, 122, 69);
  font-family: "Allura";
  font-size: 3rem;
  text-align: center;
}
@media screen and (max-width: 900px) {
  main .session1 + session .title {
    display: none;
  }
}
main .session1 + session .title h2 {
  color: rgb(238, 238, 238);
  text-transform: uppercase;
  font-family: Poppins;
  letter-spacing: 3px;
  font-size: 2rem;
}
main .session1 + session .events {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "a1 b1" "a2 b1";
  width: 80%;
  margin: auto;
  gap: 20px;
}
@media screen and (max-width: 900px) {
  main .session1 + session .events {
    display: none;
  }
}
main .session1 + session .events .events1,
main .session1 + session .events .events2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: normal;
      -ms-flex-align: normal;
          align-items: normal;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
main .session1 + session .events .events1 .image,
main .session1 + session .events .events2 .image {
  width: 50%;
  position: relative;
}
main .session1 + session .events .events1 .image img,
main .session1 + session .events .events2 .image img {
  width: 100%;
  height: 100%;
}
main .session1 + session .events .events1 .image .date,
main .session1 + session .events .events2 .image .date {
  background: rgb(33, 32, 30);
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100px;
  width: 100px;
  font-size: 2rem;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
main .session1 + session .events .events1 .image .date p,
main .session1 + session .events .events2 .image .date p {
  text-align: center;
  -webkit-transform: translateY(20%);
          transform: translateY(20%);
}
main .session1 + session .events .events1 .description,
main .session1 + session .events .events2 .description {
  padding: 0 20px;
  color: rgb(33, 32, 30);
  background: rgb(238, 238, 238);
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 200px;
  padding-bottom: 40px;
}
main .session1 + session .events .events1 .description h3,
main .session1 + session .events .events2 .description h3 {
  color: rgb(238, 238, 238);
  text-transform: uppercase;
  font-family: Poppins;
  letter-spacing: 3px;
  text-transform: none;
  color: rgb(33, 32, 30);
  font-family: Roboto;
  margin-left: 10px;
  font-size: 1.5rem;
}
main .session1 + session .events .events1 .description button,
main .session1 + session .events .events2 .description button {
  font-size: 1.2rem;
  border: none;
  cursor: pointer;
  font-weight: bold;
}
main .session1 + session .events .events2 {
  grid-area: a2;
}
main .session1 + session .events .events3 {
  grid-area: b1;
  color: rgb(33, 32, 30);
}
main .session1 + session .events .events3 .bg {
  background: rgb(238, 238, 238);
  width: 90%;
  margin: auto;
  height: 90%;
  -webkit-transform: translateY(5%);
          transform: translateY(5%);
  position: relative;
}
main .session1 + session .events .events3 .bg .date {
  padding-top: 20px;
  background: rgb(0, 0, 0);
  color: rgb(189, 193, 206);
  height: 100px;
  width: 100px;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-size: 1.9rem;
  text-align: center;
}
main .session1 + session .events .events3 .bg .description {
  padding-top: calc(100% - (100% - 100px));
  height: 100%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
main .session1 + session .events .events3 .bg .description h3 {
  font-size: 2rem;
}
main .session1 + session .events .events3 .bg .description button {
  font-size: 1.2rem;
  border: none;
  cursor: pointer;
  font-weight: bold;
}
main .session1 + session .text {
  color: rgb(0, 0, 0);
  margin-top: 300px;
  position: relative;
}
main .session1 + session .text .comment {
  background: rgb(238, 238, 238);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  width: 80%;
  margin: auto;
  -webkit-transform: translate(12.6%, -50%);
          transform: translate(12.6%, -50%);
}
main .session1 + session .text .comment p {
  margin: 50px 0;
  font-size: 1.2rem;
  text-align: center;
}
main .session1 + session .text .comment p img {
  width: 100px;
  height: 100px;
  border-radius: 150px 150px 150px 150px;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, -100%);
          transform: translate(-50%, -100%);
}
main .session1 + session .text .comment + div {
  height: 400px;
  width: 100%;
}
main .session1 + session .text .comment + div img {
  height: 100%;
  width: 100%;
}

.background {
  margin-top: 12%;
  width: 100%;
  min-height: 700px;
  position: relative;
  background: url("./../img/bg-menu-01.jpg") center/cover;
  margin-bottom: 100px;
}
@media screen and (max-width: 1200px) {
  .background {
    margin-top: 90%;
  }
}
.background .navigation {
  position: absolute;
  top: -25%;
  left: 20%;
  height: 10%;
}
@media screen and (max-width: 1000px) {
  .background .navigation {
    top: -125%;
  }
}

.events3 {
  background: url("./../img/event-03.jpg") center/cover;
}

footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 730px) {
  footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: normal;
        -ms-flex-align: normal;
            align-items: normal;
  }
}
footer .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 30px 0;
  padding-left: 25%;
}
@media screen and (max-width: 730px) {
  footer .info {
    padding: 0;
    margin-bottom: 20px;
  }
}
footer .info h2 {
  font-size: 3rem;
  font-family: Allura;
  color: rgb(180, 122, 69);
}
footer .info p {
  line-height: 30px;
}
footer .contact .newsletter input {
  font-size: 1.3rem;
  outline: none;
  margin-top: 20px;
  background: transparent;
  border: 1px solid rgb(180, 122, 69);
  padding: 10px;
  opacity: 50%;
  color: rgb(238, 238, 238);
}
footer .social {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
footer .social h3 {
  color: rgb(238, 238, 238);
  text-transform: uppercase;
  font-family: Poppins;
  letter-spacing: 3px;
}
footer .social ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
footer .social ul i {
  color: rgb(189, 193, 206);
  margin: 0 15px;
}

footer {
  background: url("./../img/bg-footer.jpg") center/cover;
}
@media screen and (max-width: 730px) {
  footer {
    background: none;
  }
}/*# sourceMappingURL=style.css.map */