header {

  nav {
    max-width: 1000px;
    margin: auto;
    @include flexbox;
    justify-content: space-between;
    .brand {
      font-family: Allura;
      font-size: 3rem;
      color: $white1;
      width: 10%;
    }
    .nav-options {
      @include flexbox;
      justify-content: space-between;
      width: 70%;
      a {
        text-decoration: none;
        color: $white1;
        cursor: pointer;
      }
    }
    .social {
      @include flexbox;
      justify-content: space-between;
      width: 10%;
      i {
        color: $white1;
        transition: 0.2s ease-in;
        cursor: pointer;
        &:hover {
          transform: scale(1.3);
        }
      }
    }
  }
  .txt-container {
    @include flexbox;
    flex-direction: column;
   padding-top: 50px;
   padding-bottom: 200px;
    p:first-child {
      font-family: Allura;
      font-size: 2.5rem;
      color: $color3;
    }
    h1 {
      font-family: Poppins;
      letter-spacing: 6px;
      font-size: 2.5rem;
    }
    img {
      margin: 20px 0;
      & + p {
        color: $white2;
        text-transform: uppercase;
        font-size: 1.1rem;
        letter-spacing: 4px;
      }
    }
  }
  .header-end {
    background: $white1;
    @include flexbox;
    min-height: 77.7934936350778vh;

    .left-part-container {
        width: 50%;
      padding: 10px;
      .left-part {
        @include flexbox;
        flex-direction: column;
        border: 2px dashed $color3;
        p:first-child {
          color: $color3;
          font-family: Allura;
          font-size: 2rem;
          font-weight: bold;
        }
        h2 {
          @include title;
          letter-spacing: 5px;
          color: $black;
        }
        img {
          margin: 30px 0;
          & + p {
            text-align: center;
            color: $black;
          }
        }
      }
      .chef{
        @include flexbox;
        flex-direction: column;
        justify-content: center;
        img{
            border-radius: 50%;
        }
        .description{
            @include flexbox;
            flex-direction: column;
            justify-content: center;
            p{
                color: $white2;
                text-transform: uppercase;
                font-family: Poppins;
            }
        }
      }
    }
    .right-part{

       width: 50%;
       height: 100%;
       img{
        width: 100%;
        height:100%;
       }
    }
  }
}
